<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Page Not Found'}); -%>
<body>
    <h1>404 Page Not Found</h1>

    <%- include(`${partials}/bottom`); -%>
</body>
</html>
