<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {pageTitle: 'Page Not Found'}); -%>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <main role="main">
        <section>
            <div class="container">
                <h1>Lost?</h1>
                <p>The page you're looking for is unavailable (<span style="color: red">404</span>).</p>
                <p>Go back
                    <a href="<%= PP %>">Home</a>.</p>
            </div>
        </section>
    </main>

    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/scripts`); -%>
</body>

</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
