<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Page Not Found'}); -%>
<body>

    <section>
        <div class="container">
            <h1>404 Page Not Found</h1>
            <p>Go back <a href="<%= PUBLIC_PATH %>">Home</a>.</p>
        </div>
    </section>

    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/scripts`); -%>
</body>
</html>
