<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Home'}); -%>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="top">
        <div class="container">
            <h1>Brian's page</h1>
            <img style="max-width: 500px;" src="http://wp.production.patheos.com/blogs/friendlyatheist/files/2016/06/A_Selection_Of_Scenes_From_Monty_Python_s_Life_Of_Brian_-_YouTube.png" alt="Life of Brian">
            <p>Go back <a href="<%= PP %>">Home</a>.</p>
        </div>
    </section>

    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/scripts`); -%>
</body>
</html>
