<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Home'}); -%>
<body>
    <h1>Brian's page</h1>
    <p>Go back <a href="<%= rootRelPath %>/">Home</a>.</p>

    <%- include(`${partials}/bottom`); -%>
</body>
</html>
