@import 'sanitize';
@import 'html5boilerplate';
@import 'base';
@import 'helpers';
@import 'footer';
@import 'print';

section.top {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('http://d2e3e84rl7gqyp.cloudfront.net/canvas-texture.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

img,
textarea,
input {
  max-width: 100%;
  background-color: #fff;
}

#me {
  box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.9);

  @media all and (min-width: 1000px) {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}
